#hero-banner {
    display: flex;
    padding: 72px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
 
  }
  
  .hero-image {
    width: 100%;
    box-sizing: border-box;
  }
  
  .hero-image img {
    width: 50%;
   height: 70%;
   border-radius: 50%;
   object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0);  
  border: 3px solid #251207;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 3);
  float: right;
  padding: 2px;
  margin: 70px;
  flex-direction: column;

  
  
  }
  

  
  .hero-content {
    max-width: 500px;

  }
  
  .hero-content h1 {
    font-size: 40px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     float: right;

   
    
    }
  
  .hero-content p {
    margin: 14px 0;
    gap: 5px;
    font-family:Arial, Helvetica, sans-serif;

   
    
  }
  
  .hero-content .btn-container {
    display: flex;
    gap: 10px;
   
  }
  
  @media only screen and (max-width: 768px) {
    #hero-banner {
      flex-direction: column-reverse;
    }
  
    .hero-content {
      max-width: 100%;
    }
  
    .hero-content .btn-container {
      flex-direction: column;
    }
  }
