
#service-1 {
  
    height: 100%;
    background: #F1F1F1;
    padding: 72px 20px;
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
     
  }
#service-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    height: 100%;
    background: #F1F1F1;
    padding: 72px 20px;
   
  }

 .service-container{
  background: #F1F1F1;
 }
  .service-heading {
    text-align: center;
  }
  
  .service-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 38px;
  }
  
  .service-list {
    display: flex;
    gap: 24px;
  }

  
  @media only screen and (max-width: 768px) {
    .service-list {
      flex-direction: column;
      gap: 16px;
    }
  }