@import "button.css";
@import "card.css";
@import "navbar.css";
@import "hero-bannner.css";
@import "service.css";
@import "footer.css";
@import "about.css";
@import "contact.css";
@import "thankyou.css";
@import "reserve.css";

* {
    margin-left: 0px;
    padding: 0px;
    box-sizing: border-box;


   
}
 html, body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    
} 

