@import "navbar.css";
@import "hero-bannner.css";
* {
    margin-left: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
 html, body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
} 
main{
    background-image: url(../images/letchon.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}